h1 {
    color: #1E4387;
}

a[data-toggle="collapse"] {
    position: relative;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #212529;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#content {
    transition: margin-left .3s;
    padding: 16px;
    margin-left: 250px;
}

.competency-assessment-links {
    display: none;
}

@media (max-width: 768px) {
    .sidenav {
        width: 0;
    }
    #content {
        margin-left: 0;
    }
    .navbar-toggler {
        display: block;
        /* Show the navbar toggler */
    }
    #sidebar {
        display: none;
    }
    #toggleButton {
        display: none;
    }
    .navbar-nav,
    .competency-assessment-links {
        display: flex;
        /* Display the navbar items on mobile */
        flex-direction: column;
        /* Stack the items vertically */
    }
    .navbar-nav .nav-item {
        width: 100%;
        /* Full width for each nav item */
    }
    .navbar-nav .nav-link {
        padding: 10px 15px;
        /* Adjust padding for touch targets */
    }
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1E4387;
    color: #fff;
    max-height: 70px;
    min-height: 70px;
}

#sidebar ul.components {
    padding: 20px 0;
    background-color: #fff;
}

#sidebar ul.components li {
    background: #edf3fe;
    border-top: 1px solid #ddd;
}

#sidebar ul.components li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #212529;
}

#sidebar ul.components li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul.components li.active>a {
    color: #fff;
    background: #1E4387;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

.compass-breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 14px Helvetica, Arial, Sans-Serif;
    margin: 0;
    padding: 0;
}

.compass-breadcrumb li {
    float: left;
    position: relative;
    background: #fff;
    margin: 0 5px 10px;
}

.compass-breadcrumb li a {
    border: 1px solid #1E4387;
    color: var(--bs-body-color);
    text-decoration: none;
    padding: 8px 10px 10px 32px;
    position: relative;
    display: block;
    z-index: 99;
    font-weight: bold;
    max-height: 33px;
    min-height: 33px;
}

.compass-breadcrumb li:first-child a {
    padding-left: 10px;
    border-right: none;
}

.compass-breadcrumb li:nth-child(n+2) a {
    border-left: none;
    border-right: none;
}

.compass-breadcrumb li:before,
.compass-breadcrumb li::after {
    content: " ";
    display: block;
    width: 1.62em;
    height: 1.62em;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #1E4387;
    border-right: 1px solid #1E4387;
    position: absolute;
    top: 0.33em;
    z-index: -1;
    background: #fff;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.compass-breadcrumb li:before {
    right: -1.39em;
}

.compass-breadcrumb li:after {
    right: -.79em;
}

.compass-breadcrumb li:before,
.compass-breadcrumb li:after {
    z-index: 1;
}

.compass-breadcrumb li:last-child:before {
    display: none;
}

.compass-breadcrumb li:last-child:after {
    display: none;
}

.compass-breadcrumb li:last-child {
    border-right: 1px solid #1E4387;
}

.compass-breadcrumb li:hover:after,
.compass-breadcrumb li:hover,
.compass-breadcrumb li.active,
.compass-breadcrumb li.active:after {
    background: #1E4387;
}

.compass-breadcrumb li:hover a,
.compass-breadcrumb li.active a {
    border-color: transparent;
}

.compass-breadcrumb li:hover a,
.compass-breadcrumb li.active a {
    color: #fff;
}