.compass-breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 18px Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 0;
}

.compass-breadcrumb li {
  float: left;
  position: relative;
  background: #fff;
  margin: 0 5px;
}

.compass-breadcrumb li a {
  border: 1px solid #0976a1;
  color: #0976a1;
  text-decoration: none;
  padding: 10px 10px 10px 32px;
  position: relative;
  display: block;
  z-index: 99;
  font-weight: bold;
  max-height:41px;
  min-height:41px;
}
.compass-breadcrumb li:first-child a {
  padding-left: 10px;
  border-right: none;
}

.compass-breadcrumb li:nth-child(n+2) a {
 border-left: none;
 border-right: none;
}
.compass-breadcrumb li:before, .compass-breadcrumb li:after{
  content: " "; 
  display: block; 
  width: 32px; 
  height: 32px; 
  border-top: 5px solid transparent; 
  border-bottom: 1px solid #0976a1; 
  border-right: 1px solid #0976a1; 
  position: absolute; 
  top: 4px; 
  z-index: -1;
  background: #fff;
  transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);

}
.compass-breadcrumb li:before {
  right: -24px; 
}
.compass-breadcrumb li:after {
  right: -14px;
}
.compass-breadcrumb li:before, .compass-breadcrumb li:after{ z-index: 1; }
.compass-breadcrumb li:last-child:before{
  display: none;
}


.compass-breadcrumb li:hover:after, .compass-breadcrumb li:hover, .compass-breadcrumb li.active,  .compass-breadcrumb li.active:after{ background: #0976a1; }
.compass-breadcrumb li:hover a, .compass-breadcrumb li.active a{ border-color: transparent; }
.compass-breadcrumb li:hover a, .compass-breadcrumb li.active a{ color: #fff; }
