html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.login-form {
    background-image: url("/images/login_page_bg_design.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-form-content {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.logo-title {
    max-width: 650px;
    margin: auto;
}

.white-icon {
    color: white;
}

.bg-brand-color {
    background-color: #1E4387;
}

.btn-brand-color {
    background-color: #1E4387;
    border-color: #1E4387;
    transition: background-color 0.3s ease;
}

.btn-brand-color:hover {
    background-color: darken(#1E4387, 10%);
}

.vh-100 {
    min-height: 100vh;
}


/* Responsive Adjustments */

@media (max-width: 768px) {
    .login-form,
    .logo-title {
        max-width: 100%;
        padding: 15px;
    }
}